# Анализ базы данных сервиса для чтения книг

Задача  — проанализировать базу данных.<br>
В ней — информация о книгах, издательствах, авторах, а также пользовательские обзоры книг. Эти данные помогут сформулировать ценностное предложение для нового продукта.

# Описание данных
**Таблица `books`**

Содержит данные о книгах:

- `book_id` — идентификатор книги;
- `author_id` — идентификатор автора;
- `title` — название книги;
- `num_pages` — количество страниц;
- `publication_date` — дата публикации книги;
- `publisher_id` — идентификатор издателя.

**Таблица `authors`**

Содержит данные об авторах:

- `author_id` — идентификатор автора;
- `author` — имя автора.

**Таблица `publishers`**

Содержит данные об издательствах:

- `publisher_id` — идентификатор издательства;
- `publisher` — название издательства;

**Таблица `ratings`**

Содержит данные о пользовательских оценках книг:

- `rating_id` — идентификатор оценки;
- `book_id` — идентификатор книги;
- `username` — имя пользователя, оставившего оценку;
- `rating` — оценка книги.

**Таблица `reviews`**

Содержит данные о пользовательских обзорах на книги:

- `review_id` — идентификатор обзора;
- `book_id` — идентификатор книги;
- `username` — имя пользователя, написавшего обзор;
- `text` — текст обзора.

# Содержание
1. [Подключение к БД](#db_connecting)
2. [SQL запросы к БД](#sql_queries)
3. [Общий вывод](#general_conclusion)

<a id="db_connecting"></a>
## Подключение к БД

In [1]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine
# устанавливаем параметры
db_config = {'user': 'praktikum_student',  # имя пользователя
             'pwd': 'Sdf4$2;d-d30pp',  # пароль
             'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
             'port': 6432,  # порт подключения
             'db': 'data-analyst-final-project-db'}  # название базы данных
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                         db_config['pwd'],
                                                         db_config['host'],
                                                         db_config['port'],
                                                         db_config['db'])
# сохраняем коннектор
engine = create_engine(connection_string, connect_args={'sslmode': 'require'})

<a id="sql_queries"></a>
## SQL запросы к БД

**1. Посчитаем, сколько книг вышло после 1 января 2000 года**

In [2]:
query1 = '''
SELECT COUNT(book_id) AS books_count
FROM books
WHERE publication_date > '2000-01-01'
'''

books_count = pd.io.sql.read_sql(query1, con=engine).loc[0, 'books_count']
print(f'{books_count} книг вышло после 1 января 2000 года')

819 книг вышло после 1 января 2000 года

**2. Для каждой книги посчитаем количество обзоров и среднюю оценку**

In [3]:
query2 = '''
SELECT b.title AS books_name,
       COUNT(rev.review_id) AS reviews,
       AVG(rat.rating) AS avg_rating
FROM books b
     INNER JOIN reviews rev ON b.book_id = rev.book_id
     INNER JOIN ratings rat ON b.book_id = rat.book_id
GROUP BY books_name
'''
avg_rate_and_reviews = pd.io.sql.read_sql(query2, con=engine)
display(avg_rate_and_reviews.head())
print(f'Всего записей в выборке {avg_rate_and_reviews.shape[0]}')

                                          books_name  reviews  avg_rating
0                          The Count of Monte Cristo      115    4.217391
1                            Count Zero (Sprawl  #2)        4    2.500000
2  The Botany of Desire: A Plant's-Eye View of th...        4    3.500000
3                               The Poisonwood Bible      110    4.363636
4                               The Canterbury Tales       18    3.333333

Всего записей в выборке 993

**3. Определим издательство, которое выпустило наибольшее число книг толще 50 страниц**

In [4]:
query3 = '''
SELECT p.publisher AS publisher_name,
       COUNT(b.book_id) as books_count
FROM publishers p
     INNER JOIN books b ON p.publisher_id = b.publisher_id
WHERE b.num_pages > 50
GROUP BY publisher_name
ORDER BY books_count DESC
LIMIT 1
'''

most_books_publisher = pd.io.sql.read_sql(
    query3, con=engine).loc[0, 'publisher_name']
print(
    'Издательство, которое выпустило наибольшее число книг толще 50 страниц - {}'.format(
        most_books_publisher)
)

Издательство, которое выпустило наибольшее число книг толще 50 страниц - Penguin Books

**4. Определим автора с самой высокой средней оценкой книг, учитывая только книги с 50 и более оценками**

Находим книги с оценками больше 50

In [5]:
query4 = '''
SELECT book_id AS bookID
FROM ratings
GROUP BY bookID
HAVING COUNT(rating_id) > 50
'''

pd.io.sql.read_sql(query4, con=engine)

    bookid
0       75
1      750
2      545
3      948
4      488
5      696
6      722
7      627
8      733
9      779
10     405
11     302
12     673
13     300
14     299
15     301
16     399
17      79
18     656

Находим авторов и среднюю оценку их книг

In [6]:
query4 = '''
SELECT a.author AS author_name,
       AVG(rat.rating) AS avg_rating 
FROM authors a
     INNER JOIN books b ON a.author_id = b.author_id
     INNER JOIN ratings rat ON b.book_id = rat.book_id
WHERE b.book_id IN (SELECT book_id AS bookID
FROM ratings
GROUP BY bookID
HAVING COUNT(rating_id) > 50)
GROUP BY author_name
ORDER BY avg_rating DESC
LIMIT 1
'''

pd.io.sql.read_sql(query4, con=engine)

                  author_name  avg_rating
0  J.K. Rowling/Mary GrandPré    4.287097

In [7]:
top_rate_author_name = pd.io.sql.read_sql(query4, con=engine).loc[0, 'author_name']
print(
    '{} автор с самой высокой средней оценкой книг, учитывая только книги с 50 и более оценками'.format(
    top_rate_author_name)
)

J.K. Rowling/Mary GrandPré автор с самой высокой средней оценкой книг, учитывая только книги с 50 и более оценками

**5. Посчитаем среднее количество обзоров от пользователей, которые поставили больше 50 оценок**

Находим пользователей с количеством оценок больше 50

In [8]:
query5 = '''
SELECT username
FROM ratings
GROUP BY username
HAVING COUNT(rating_id) > 50
'''

pd.io.sql.read_sql(query5, con=engine)

         username
0     sfitzgerald
1  jennifermiller
2          xdavis
3          paul88
4      martinadam
5       richard89

Находим тех же пользователей в таблице обзоров и считаем для них количество обзоров

In [9]:
query5 = '''
SELECT username,
       COUNT(review_id) AS reviews_count 
FROM reviews
WHERE username IN (SELECT username
FROM ratings
GROUP BY username
HAVING COUNT(rating_id) > 50)
GROUP BY username
'''

pd.io.sql.read_sql(query5, con=engine)

         username  reviews_count
0     sfitzgerald             28
1  jennifermiller             25
2          xdavis             18
3          paul88             22
4      martinadam             27
5       richard89             26

Считаем среднее количество обзоров для пользователей

In [10]:
query5 = '''
SELECT CAST(FLOOR(AVG(rev_per_user.reviews_count)) AS int) AS avg_reviews
FROM(SELECT username,
       COUNT(review_id) AS reviews_count 
FROM reviews
WHERE username IN (SELECT username
FROM ratings
GROUP BY username
HAVING COUNT(rating_id) > 50)
GROUP BY username) AS rev_per_user
'''

pd.io.sql.read_sql(query5, con=engine)

   avg_reviews
0           24

Считаем среднее по столбцу `review_count`

In [11]:
avg_reviews = pd.io.sql.read_sql(query5, con=engine).loc[0, 'avg_reviews']
print(
    'Среднее количество обзоров от пользователей, которые поставили больше 50 оценок - {}'.format(
    avg_reviews)
)

Среднее количество обзоров от пользователей, которые поставили больше 50 оценок - 24

<a id="general_conclusion"></a>
## Общий вывод

1. 819 книг вышло после 1 января 2000 года;
2. Издательство, которое выпустило наибольшее число книг толще 50 страниц - Penguin Books;
3. J.K. Rowling/Mary GrandPré автор с самой высокой средней оценкой книг, учитывая только книги с 50 и более оценками;
4. Среднее количество обзоров от пользователей, которые поставили больше 50 оценок - 24.